## PANDAS IN PYTHON

In [4]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.3.2
[notice] To update, run: C:\Users\USER\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

In [6]:
file = "modern_arts.csv"

arts = pd.read_csv(file)

In [7]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,(British),(1898),(1986),(Male),1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,(Male),1975,Architecture & Design
16722,The Catboat,Edward Hopper,(American),(1882),(1967),(Male),1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,(),1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,(Male),2011,Prints & Illustrated Books

In [8]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [9]:
arts.shape

(16725, 8)

In [10]:
arts.columns

Index(['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender',
       'Date', 'Department'],
      dtype='object')

In [11]:
num_rows = arts.shape[0]

In [12]:
num_rows

16725

In [13]:
num_col = arts.shape[1]

In [14]:
num_col

8

In [15]:
type(arts) # 2 dimension called dataframe

pandas.core.frame.DataFrame

In [16]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [17]:
arts["Gender"]

0        (Female)
1          (Male)
2          (Male)
3          (Male)
4          (Male)
           ...
16720      (Male)
16721      (Male)
16722      (Male)
16723          ()
16724      (Male)
Name: Gender, Length: 16725, dtype: object

In [18]:
type(arts["Gender"]) # 1 dimesion called series

pandas.core.series.Series

### Indexing in pandas

In [19]:
col = ["Artist", "Date"]

arts[col]

                   Artist       Date
0      Sarah Charlesworth       1986
1         Pablo Palazuelo       1978
2           Maurice Denis  1889-1911
3        Aristide Maillol  1927-1940
4            Eugène Atget       1903
...                   ...        ...
16720         Henry Moore  1968-1969
16721         Juan Baixas       1975
16722       Edward Hopper       1922
16723             Unknown       1931
16724           Alex Katz       2011

[16725 rows x 2 columns]

In [20]:
arts[0]

KeyError: 0

In [21]:
arts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16725 entries, 0 to 16724
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16724 non-null  object
 1   Artist       16725 non-null  object
 2   Nationality  16725 non-null  object
 3   BeginDate    15786 non-null  object
 4   EndDate      10474 non-null  object
 5   Gender       16725 non-null  object
 6   Date         16725 non-null  object
 7   Department   16725 non-null  object
dtypes: object(8)
memory usage: 1.0+ MB

In [22]:
arts.head(2)

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books

In [23]:
arts.iloc[1]

Title          Duplicate of plate from folio 11 verso (supple...
Artist                                           Pablo Palazuelo
Nationality                                            (Spanish)
BeginDate                                                 (1916)
EndDate                                                   (2007)
Gender                                                    (Male)
Date                                                        1978
Department                            Prints & Illustrated Books
Name: 1, dtype: object

In [24]:
arts.iloc[[2,4]]

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [25]:
arts.loc[["Artist","Gender"]] # error

KeyError: "None of [Index(['Artist', 'Gender'], dtype='object')] are in the [index]"

In [26]:
arts = arts.set_index("Nationality")

In [27]:
arts.head()

,Title,Artist,BeginDate,EndDate,Gender,Date,Department
Nationality,,,,,,,
(American),Dress MacLeod from Tartan Sets,Sarah Charlesworth,(1947),(2013),(Female),1986,Prints & Illustrated Books
(Spanish),Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(1916),(2007),(Male),1978,Prints & Illustrated Books
(French),Tailpiece (page 55) from SAGESSE,Maurice Denis,(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
(French),Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
(French),97 rue du Bac,Eugène Atget,(1857),(1927),(Male),1903,Photography

In [28]:
arts

,Title,Artist,BeginDate,EndDate,Gender,Date,Department
Nationality,,,,,,,
(American),Dress MacLeod from Tartan Sets,Sarah Charlesworth,(1947),(2013),(Female),1986,Prints & Illustrated Books
(Spanish),Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(1916),(2007),(Male),1978,Prints & Illustrated Books
(French),Tailpiece (page 55) from SAGESSE,Maurice Denis,(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
(French),Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
(French),97 rue du Bac,Eugène Atget,(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...
(British),Oval with Points,Henry Moore,(1898),(1986),(Male),1968-1969,Painting & Sculpture
(Chilean),"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(1942),NaN,(Male),1975,Architecture & Design
(American),The Catboat,Edward Hopper,(1882),(1967),(Male),1922,Prints & Illustrated Books
(),Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,NaN,NaN,(),1931,Prints & Illustrated Books
(American),Plate (page 11) from The Dive,Alex Katz,(1927),NaN,(Male),2011,Prints & Illustrated Books

In [29]:
arts.columns

Index(['Title', 'Artist', 'BeginDate', 'EndDate', 'Gender', 'Date',
       'Department'],
      dtype='object')

In [30]:
arts.iloc[[0,4]]

,Title,Artist,BeginDate,EndDate,Gender,Date,Department
Nationality,,,,,,,
(American),Dress MacLeod from Tartan Sets,Sarah Charlesworth,(1947),(2013),(Female),1986,Prints & Illustrated Books
(French),97 rue du Bac,Eugène Atget,(1857),(1927),(Male),1903,Photography

In [31]:
arts.loc[["(American)","(French)"]]

,Title,Artist,BeginDate,EndDate,Gender,Date,Department
Nationality,,,,,,,
(American),Dress MacLeod from Tartan Sets,Sarah Charlesworth,(1947),(2013),(Female),1986,Prints & Illustrated Books
(American),Pictorial ornament (folio 11) from WOODCUTS,Antonio Frasconi,(1919),(2013),(Male),1957,Prints & Illustrated Books
(American),Los Angeles Airport,Garry Winogrand,(1928),(1984),(Male),1978-1983,Photography
(American),Black Bathroom,Jim Dine,(1935),NaN,(Male),1963,Prints & Illustrated Books
(American),Transcendence. Designs for the Ballet,Franklin Chenault Watkins,(1894),(1972),(Male),(1934),Drawings
...,...,...,...,...,...,...,...
(French),Tailpiece (page 8) from SAGESSE,Maurice Denis,(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
(French),In-text plate (folio 12) from POÉSIE ET VÉRITÉ...,Oscar Domínguez,(1906),(1957),(Male),1947,Prints & Illustrated Books
(French),"Ambassade d'Autriche, 57 rue de Varenne",Eugène Atget,(1857),(1927),(Male),1905,Photography
(French),Plate (folio 7) from EXPLORATIONS,Henri Goetz,(1909),(1989),(Male),1947,Prints & Illustrated Books
(French),"Picasso Sculpture (paper, skull)",Brassaï (Gyula Halász),(1899),(1984),(Male),1943,Photography

In [32]:
arts.loc[["(American)","(French)"],["Artist","Gender"]]

                                Artist    Gender
Nationality
(American)          Sarah Charlesworth  (Female)
(American)            Antonio Frasconi    (Male)
(American)             Garry Winogrand    (Male)
(American)                    Jim Dine    (Male)
(American)   Franklin Chenault Watkins    (Male)
...                                ...       ...
(French)                 Maurice Denis    (Male)
(French)               Oscar Domínguez    (Male)
(French)                  Eugène Atget    (Male)
(French)                   Henri Goetz    (Male)
(French)        Brassaï (Gyula Halász)    (Male)

[10486 rows x 2 columns]

In [33]:
arts.loc[["(American)","(French)"],[3,4]]

KeyError: "None of [Index([3, 4], dtype='int32')] are in the [columns]"

In [34]:
arts.iloc[[1,8],[3,4]]

                EndDate    Gender
Nationality
(Spanish)        (2007)    (Male)
(South African)     NaN  (Female)

# Cleaning and Preparation of data using Pandas

## Working on Gender column

In [1]:
import pandas as pd

C:\Users\USER\AppData\Local\Temp\ipykernel_2424\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
file = "modern_arts.csv"

arts = pd.read_csv(file)

In [3]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [4]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [5]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [6]:
arts["Gender"]  # in pandas object mean string value

0        (Female)
1          (Male)
2          (Male)
3          (Male)
4          (Male)
           ...
16720      (Male)
16721      (Male)
16722      (Male)
16723          ()
16724      (Male)
Name: Gender, Length: 16725, dtype: object

In [7]:
arts["Gender"] = arts["Gender"].str.replace("(", "").str.replace(")","")

In [8]:
arts["Gender"]

0        Female
1          Male
2          Male
3          Male
4          Male
          ...
16720      Male
16721      Male
16722      Male
16723
16724      Male
Name: Gender, Length: 16725, dtype: object

In [9]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),Male,1903,Photography

In [10]:
arts["Gender"].unique()

array(['Female', 'Male', '', 'male'], dtype=object)

In [11]:
arts["Gender"] = arts["Gender"].str.title()

In [12]:
arts["Gender"]

0        Female
1          Male
2          Male
3          Male
4          Male
          ...
16720      Male
16721      Male
16722      Male
16723
16724      Male
Name: Gender, Length: 16725, dtype: object

In [13]:
arts["Gender"].unique()

array(['Female', 'Male', ''], dtype=object)

In [14]:
arts["Gender"] = arts["Gender"].str.replace("''","") 
# it can't wotking because "''" this python can't understand

In [15]:
arts["Gender"].unique()

array(['Female', 'Male', ''], dtype=object)

In [16]:
bol = arts["Gender"] == ''

In [17]:
bol

0        False
1        False
2        False
3        False
4        False
         ...
16720    False
16721    False
16722    False
16723     True
16724    False
Name: Gender, Length: 16725, dtype: bool

In [18]:
bol.sum()

791

In [19]:
arts[bol] # bol indexing

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
31,Untitled,Unknown,(),NaN,NaN,,c. 1925,Photography
90,Bar Tools,Studio Opi,(Italian),(1955),NaN,,1969,Architecture & Design
137,Nations,Slavs and Tatars,(),(2005),NaN,,2007,Prints & Illustrated Books
177,El Frente Popular de Madrid Al Frente Popular ...,J. Briones,(Spanish),NaN,NaN,,1936-1937,Architecture & Design
185,Untitled,Unknown,(),NaN,NaN,,1923-1951,Photography
...,...,...,...,...,...,...,...,...
16664,Untitled,Unknown,(),NaN,NaN,,c. 1960,Photography
16670,Inflatable Armchair,Quasar (Nguyen Manh Khanh),(Vietnamese),(1934),NaN,,1967-1968,Architecture & Design
16688,Poster of the French National Railroad,Album-miscellaneous,(Various),NaN,NaN,,1900-1943,Architecture & Design
16702,Salon de la Plume,Unknown,(Nationality Unknown),NaN,NaN,,1880-1910,Architecture & Design
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,,1931,Prints & Illustrated Books

In [20]:
arts.loc[bol,"Gender"]

31
90
137
177
185
        ..
16664
16670
16688
16702
16723
Name: Gender, Length: 791, dtype: object

In [21]:
arts.loc[bol,"Gender"] = "Gender Unknown"

In [22]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),Male,1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,(British),(1898),(1986),Male,1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,Male,1975,Architecture & Design
16722,The Catboat,Edward Hopper,(American),(1882),(1967),Male,1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,Male,2011,Prints & Illustrated Books

## Working on Nationality column

In [23]:
arts["Nationality"]

0        (American)
1         (Spanish)
2          (French)
3          (French)
4          (French)
            ...
16720     (British)
16721     (Chilean)
16722    (American)
16723            ()
16724    (American)
Name: Nationality, Length: 16725, dtype: object

In [24]:
arts["Nationality"] = arts["Nationality"].str.replace("(","").str.replace(")","")

In [25]:
arts["Nationality"]

0        American
1         Spanish
2          French
3          French
4          French
           ...
16720     British
16721     Chilean
16722    American
16723
16724    American
Name: Nationality, Length: 16725, dtype: object

In [26]:
arts["Nationality"].unique()

array(['American', 'Spanish', 'French', 'South African', 'Canadian',
       'Czech', 'Belgian', 'Russian', 'British', 'German', '', 'Swiss',
       'Polish', 'Japanese', 'Portuguese', 'Austrian', 'Australian',
       'Italian', 'Chilean', 'Colombian', 'Mexican', 'Brazilian', 'Dutch',
       'Romanian', 'Venezuelan', 'Korean', 'Israeli', 'Argentine',
       'Indian', 'Nationality unknown', 'Swedish', 'Yugoslav', 'Cuban',
       'Nationality Unknown', 'Various', 'Luxembourgish', 'Croatian',
       'Bulgarian', 'Hungarian', 'Georgian', 'Puerto Rican', 'Danish',
       'Serbian', 'Pakistani', 'Ecuadorian', 'Chinese', 'Iranian',
       'Finnish', 'Lebanese', 'Thai', 'Cambodian', 'Scottish', 'Kenyan',
       'Latvian', 'Sudanese', 'Uruguayan', 'Peruvian', 'New Zealander',
       'Moroccan', 'Guatemalan', 'Cameroonian', 'Egyptian', 'Nigerian',
       'Icelandic', 'Haitian', 'Tajik', 'Irish', 'Norwegian',
       'Costa Rican', 'Slovenian', 'Turkish', 'Mozambican', 'Palestinian',
       'Ukrainian', 'Angolan', 'Tunisian', 'Greek', 'Zimbabwean',
       'Bahamian', 'Vietnamese', 'Panamanian', 'Canadian Inuit', 'Malian',
       'Filipino'], dtype=object)

In [27]:
arts["Nationality"].unique()

array(['American', 'Spanish', 'French', 'South African', 'Canadian',
       'Czech', 'Belgian', 'Russian', 'British', 'German', '', 'Swiss',
       'Polish', 'Japanese', 'Portuguese', 'Austrian', 'Australian',
       'Italian', 'Chilean', 'Colombian', 'Mexican', 'Brazilian', 'Dutch',
       'Romanian', 'Venezuelan', 'Korean', 'Israeli', 'Argentine',
       'Indian', 'Nationality unknown', 'Swedish', 'Yugoslav', 'Cuban',
       'Nationality Unknown', 'Various', 'Luxembourgish', 'Croatian',
       'Bulgarian', 'Hungarian', 'Georgian', 'Puerto Rican', 'Danish',
       'Serbian', 'Pakistani', 'Ecuadorian', 'Chinese', 'Iranian',
       'Finnish', 'Lebanese', 'Thai', 'Cambodian', 'Scottish', 'Kenyan',
       'Latvian', 'Sudanese', 'Uruguayan', 'Peruvian', 'New Zealander',
       'Moroccan', 'Guatemalan', 'Cameroonian', 'Egyptian', 'Nigerian',
       'Icelandic', 'Haitian', 'Tajik', 'Irish', 'Norwegian',
       'Costa Rican', 'Slovenian', 'Turkish', 'Mozambican', 'Palestinian',
       'Ukrainian', 'Angolan', 'Tunisian', 'Greek', 'Zimbabwean',
       'Bahamian', 'Vietnamese', 'Panamanian', 'Canadian Inuit', 'Malian',
       'Filipino'], dtype=object)

In [28]:
arts.loc[arts["Nationality"] == '',"Nationality"] = "Nationality Unknown"

In [29]:
arts["Nationality"]

0                   American
1                    Spanish
2                     French
3                     French
4                     French
                ...
16720                British
16721                Chilean
16722               American
16723    Nationality Unknown
16724               American
Name: Nationality, Length: 16725, dtype: object

In [30]:
arts["Nationality"] = arts["Nationality"].str.title()

In [31]:
arts["Nationality"].unique()

array(['American', 'Spanish', 'French', 'South African', 'Canadian',
       'Czech', 'Belgian', 'Russian', 'British', 'German',
       'Nationality Unknown', 'Swiss', 'Polish', 'Japanese', 'Portuguese',
       'Austrian', 'Australian', 'Italian', 'Chilean', 'Colombian',
       'Mexican', 'Brazilian', 'Dutch', 'Romanian', 'Venezuelan',
       'Korean', 'Israeli', 'Argentine', 'Indian', 'Swedish', 'Yugoslav',
       'Cuban', 'Various', 'Luxembourgish', 'Croatian', 'Bulgarian',
       'Hungarian', 'Georgian', 'Puerto Rican', 'Danish', 'Serbian',
       'Pakistani', 'Ecuadorian', 'Chinese', 'Iranian', 'Finnish',
       'Lebanese', 'Thai', 'Cambodian', 'Scottish', 'Kenyan', 'Latvian',
       'Sudanese', 'Uruguayan', 'Peruvian', 'New Zealander', 'Moroccan',
       'Guatemalan', 'Cameroonian', 'Egyptian', 'Nigerian', 'Icelandic',
       'Haitian', 'Tajik', 'Irish', 'Norwegian', 'Costa Rican',
       'Slovenian', 'Turkish', 'Mozambican', 'Palestinian', 'Ukrainian',
       'Angolan', 'Tunisian', 'Greek', 'Zimbabwean', 'Bahamian',
       'Vietnamese', 'Panamanian', 'Canadian Inuit', 'Malian', 'Filipino'],
      dtype=object)

# Working on BeginDate and EndDate

In [32]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,(1947),(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,(1916),(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,(1870),(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,(1861),(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,(1857),(1927),Male,1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,British,(1898),(1986),Male,1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,Chilean,(1942),NaN,Male,1975,Architecture & Design
16722,The Catboat,Edward Hopper,American,(1882),(1967),Male,1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,Nationality Unknown,NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,American,(1927),NaN,Male,2011,Prints & Illustrated Books

In [33]:
# arts["BeginDate"] = arts["BeginDate"].str.replace("(","").str.replace(")","").astype(int)
# ValueError: cannot convert float NaN to integer

In [34]:
arts["BeginDate"] = arts["BeginDate"].str.replace("(","").str.replace(")","").astype(float)

In [35]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,1947.0,(2013),Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,(2007),Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,1870.0,(1943),Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,1861.0,(1944),Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,1857.0,(1927),Male,1903,Photography

In [36]:
arts["BeginDate"].unique()

array([1947., 1916., 1870., 1861., 1857., 1919., 1928., 1964., 1882.,
       1901., 1935., 1871., 1894., 1955., 1878., 1927., 1936., 1867.,
       1932., 1886., 1938., 1926., 1898., 1868., 1889.,   nan, 1934.,
       1929., 1930., 1949., 1753., 1973., 1902., 1933., 1893., 1887.,
       1925., 1948., 1931., 1911., 1943., 1954., 1843., 1966., 1957.,
       1903., 1909., 1890., 1883., 1945., 1864., 1904., 1915., 1958.,
       1877., 1978., 1963., 1922., 1831., 1967., 1905., 1830., 1924.,
       1881., 1910., 1946., 1885., 1917., 1923., 1900., 2005., 1884.,
       1913., 1880., 1874., 1941., 1977., 1862., 1852., 1950., 1896.,
       1971., 1860., 1969., 1962., 1912., 1921., 1914., 1895., 1982.,
       1906., 1937., 1939., 1972., 1959., 1942., 1961., 1826., 1899.,
       1944., 1837., 1869., 1951., 1975., 1908., 1974., 1891., 1940.,
       1820., 1873., 1892., 1876., 1960., 1829., 1875., 1879., 1968.,
       1953., 1866., 1858., 1833., 1840., 1822., 1918., 1965., 1952.,
       1802., 1920., 1865., 1983., 1970., 1907., 1819., 1888., 2012.,
       1856., 1897., 1976., 1956., 1816., 1746., 1849., 1801., 1832.,
       1844., 1872., 1980., 1988., 1979., 1985., 1841., 1863., 1823.,
       1828., 1811., 1997., 1825., 1836., 1848., 1834., 1815., 1859.,
       1992., 1787., 1814., 1851., 1842., 1824., 1813., 1796., 1798.,
       1981., 1845., 2010., 1808., 1853., 1996., 1855., 1827., 1839.,
       1812., 1800., 1984., 1792., 1797., 1986., 1987., 1850., 1854.,
       1821.])

In [37]:
arts["EndDate"] = arts["EndDate"].str.replace("(","").str.replace(")","").astype(float)

In [38]:
arts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16725 entries, 0 to 16724
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16724 non-null  object
 1   Artist       16725 non-null  object
 2   Nationality  16725 non-null  object
 3   BeginDate    15786 non-null  float64
 4   EndDate      10474 non-null  float64
 5   Gender       16725 non-null  object
 6   Date         16725 non-null  object
 7   Department   16725 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.0+ MB

In [39]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,1947.0,2013.0,Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,2007.0,Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,1870.0,1943.0,Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,1861.0,1944.0,Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,1857.0,1927.0,Male,1903,Photography

## Working on Date column

In [40]:
arts["Date"].head(20)

0            1986
1            1978
2       1889-1911
3       1927-1940
4            1903
5            1957
6            1924
7       1978-1983
8            2001
9          (1941)
10      1949-1950
11           1963
12      1908-1911
13         (1934)
14           1997
15    (1931-1933)
16           1972
17           1967
18      1923-1924
19           1979
Name: Date, dtype: object

In [41]:
bad_chr = ["(",")",".","c","C","s","'"," "]

len(bad_chr)

8

In [42]:
date = "(c.1947's)"

for i in bad_chr:
    date = date.replace(i,"")

In [43]:
date

'1947'

In [44]:
def clean_date(date):
    bad_chr = ["(",")",".","c","C","s","'"," "]
    for i in bad_chr:
        date = date.replace(i,"")
    return date

In [45]:
clean_date(date)

'1947'

In [46]:
clean_date("cs.1947's'C")

'1947'

In [47]:
arts["Date"] = arts["Date"].apply(clean_date)

In [48]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,1947.0,2013.0,Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,2007.0,Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,1870.0,1943.0,Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,1861.0,1944.0,Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,1857.0,1927.0,Male,1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,British,1898.0,1986.0,Male,1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,Chilean,1942.0,NaN,Male,1975,Architecture & Design
16722,The Catboat,Edward Hopper,American,1882.0,1967.0,Male,1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,Nationality Unknown,NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,American,1927.0,NaN,Male,2011,Prints & Illustrated Books

In [49]:
new_date = "1889-1911"

lst = new_date.split("-")
lst

['1889', '1911']

In [50]:
yr1 = lst[0]
yr2 = lst[1]

In [51]:
yr1

'1889'

In [54]:
yr1 = int(lst[0])
yr2 = int(lst[1])

yr = (yr1 + yr2)/2

round(yr)

1900

In [56]:
arts["Date"]

0             1986
1             1978
2        1889-1911
3        1927-1940
4             1903
           ...
16720    1968-1969
16721         1975
16722         1922
16723         1931
16724         2011
Name: Date, Length: 16725, dtype: object

In [60]:
def int_date(date):
    if "-" in date:
        lst = new_date.split("-")
        yr1 = int(lst[0])
        yr2 = int(lst[1])
        date = round((yr1 + yr2)/2)

    else:
        date = int(date)

    return date

In [65]:
    int_date(date)

1947

In [68]:
int_date("2999")

2999

In [70]:
arts["Date"] = arts["Date"].apply(int_date)

In [71]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,1947.0,2013.0,Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,2007.0,Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,1870.0,1943.0,Male,1900,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,1861.0,1944.0,Male,1900,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,1857.0,1927.0,Male,1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,British,1898.0,1986.0,Male,1900,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,Chilean,1942.0,NaN,Male,1975,Architecture & Design
16722,The Catboat,Edward Hopper,American,1882.0,1967.0,Male,1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,Nationality Unknown,NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,American,1927.0,NaN,Male,2011,Prints & Illustrated Books

In [72]:
arts.to_csv("cleaned_modern_arts.csv")